[core]
	excludesfile=~/.gitignores
[user]
	name = Hansung Kim
	email = stephen422@gmail.com
[alias]
	a	= add
	br	= branch
	cm	= commit
	co	= checkout
	df	= diff
	l = log --graph --pretty=changelog
	st	= status
	dfc = diff --cached
	pl = pull
	ll = log
[credential]
	helper = cache --timeout=10800 # I'm lazy
[pretty]
	changelog = format:%C(auto)%h%C(auto)%d %Creset%s %C(green)%an %C(blue)%cr
