[user]
	name = Hansung Kim
	email = stephen422@gmail.com
[push]
	default = simple
[alias]
	a	= "add"
	br	= "branch"
	cm	= "commit"
	co	= "checkout"
	df	= "diff"
	l	= "log"
	st	= "status"
	dfc = diff --cached
[credential]
	helper = cache --timeout=10800 # I'm lazy
