! Xft resources --------------------------------------------------------------
! WILL be overrided by fonts.conf
Xft.dpi:		96
Xft.antialias:	true
Xft.rgba:		rgb
Xft.hinting:	true
Xft.hintstyle:	hintslight

! terminal colors ------------------------------------------------------------
!#include "/home/stephen/.colors/michaelchina.xresources"
URxvt.background: #000000
URxvt.foreground: #ffffff

! urxvt configurations -------------------------------------------------------
URxvt.scrollBar: false
! For PC
!URxvt.font: -*-termsyn-medium-*-*-*-14-*-*-*-*-*-*-*,-*-stlarch-medium-*-normal-*-12-*-*-*-*-*-*-*,xft:NanumGothicCoding:antialias=false
URxvt.font: -*-tamsyn-medium-*-*-*-14-*-*-*-*-*-*-*,xft:NanumGothicCoding:antialias=false
! For rMBP
!URxvt.font: xft:Inconsolata:size=10
!URxvt.letterSpace: -1
