! Xft resources --------------------------------------------------------------
! WILL be overrided by fonts.conf
Xft.dpi:		96
Xft.antialias:	true
Xft.rgba:		rgb
Xft.hinting:	true
Xft.hintstyle:	hintslight
Xft.lcdfilter:	lcddefault

! Colors ---------------------------------------------------------------------
#include "/home/stephen/.colors/base16-ocean.dark.256.xresources"

! Appearances ----------------------------------------------------------------
URxvt.scrollBar: false
!URxvt.transparent: true
!URxvt.shading: 20
!URxvt.blurRadius: 30
!URxvt.fading: 30
!URxvt.internalBorder: 10

! Fonts ----------------------------------------------------------------------
! Bitmap font
!URxvt.font: -*-gohufont-medium-r-normal--11-*-*-*-*-*-*-*,-*-stlarch-*-*-normal-*-*-*-*-*-*-*-*-*,-*-nanumgothic-medium-r-normal-*-12-*-*-*-*-*-*-*
! Truetype font
URxvt.font: xft:DejaVu Sans Mono:size=10,xft:NanumGothicCoding:size=11
URxvt.letterSpace: -1

! Input method ---------------------------------------------------------------
URxvt*.inputMethod: ibus
URxvt*.preeditType: OverTheSpot
URxvt*.imLocale: ko_KR.UTF-8
