! Xft resources --------------------------------------------------------------
! WILL be overrided by fonts.conf
Xft.dpi:		96
Xft.antialias:	true
Xft.rgba:		rgb
Xft.hinting:	true
Xft.hintstyle:	hintslight

! terminal colors ------------------------------------------------------------

!! tangoesque scheme
!*background: #111111
!*foreground: #babdb6
!! Black (not tango) + DarkGrey
!*color0:  #000000
!*color8:  #555753
!! DarkRed + Red
!*color1:  #ff6565
!*color9:  #ff8d8d
!! DarkGreen + Green
!*color2:  #93d44f
!*color10: #c8e7a8
!! DarkYellow + Yellow
!*color3:  #eab93d
!*color11: #ffc123
!! DarkBlue + Blue
!*color4:  #204a87
!*color12: #3465a4
!! DarkMagenta + Magenta
!*color5:  #ce5c00
!*color13: #f57900
!!DarkCyan + Cyan (both not tango)
!*color6:  #89b6e2
!*color14: #46a4ff
!! LightGrey + White
!*color7:  #cccccc
!*color15: #ffffff

*color0:  #282828
*color8:  #494949
!red
*color1:  #b76969
*color9:  #b87e7e
!green
*color2:  #719d72
*color10: #839d84
!yellow
*color3:  #909858
*color11: #919864
!blue
*color4:  #68668f
*color12: #73718f
!magenta
*color5:  #966894
*color13: #987397
!cyan
*color6:  #688891
*color14: #758c93
!white
*color7:  #8e8e8e
*color15: #aeaeae

! urxvt configurations -------------------------------------------------------
URxvt.foreground:           #D6D6D6
URxvt.background:           #050505
URxvt.scrollBar: false
! For PC
URxvt.font: xft:Terminus:size=9
! For rMBP
!URxvt.font: xft:Inconsolata:size=12
!URxvt.letterSpace: -1
